@use '../../../styles/variables.scss' as var;
@use '../../../styles/mixins.scss' as mix;

$INDENT: var.$indentSecondary;

.link {
  text-decoration: none;
  gap: $INDENT;
  @include mix.flexBetween;
}