$blue: #0075FF;
$black: #111111;
$silver: #CACACA;
$blueIce: #1863b8;
$white: #EFEFEF;
$dark-gray: #333636;

$transitionFunction: ease;
$tarnsitionTime: .3s;


$indentPrimary: 1em;
$indentSecondary: .5em;

$radiusPrimary: 1em;

$mobileSize : 768px;




