
$dark-gray: #333636;
$black: #111111;
$white: #ffffff;

$radius-1: 1em;
$radius-2: 2em;

$size-main: 100%;
$size-0: 0;
$size-1: 1em;
$size-3: 3em;
$size-90: 90em;

$windowMobile: 48em;
$margin-primary: $size-0 auto;




