@use '../../../styles/mixins.scss' as mix;
@use '../../../styles/variables.scss' as var;


$BACKGROUND: var.$white;
$BORDER: .2rem solid var.$blue;
$INDENT: 1em;

$TRANSITION: height var.$tarnsitionTime var.$transitionFunction;

.container {
  overflow: hidden;
  max-height: auto;
}

.colaps {
  transition: $TRANSITION;
}

.wrapperContent {
  width: 100%;
  padding-left: $INDENT;
  padding-right: $INDENT;
}

.content {
  background-color: $BACKGROUND;
  padding: $INDENT;
}