.greed {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
  min-height: 80dvh;

  grid-template-areas:
    'n n n n i i i i i i i i'
    'n n n n i i i i i i i i'
    'n n n n i i i i i i i i'
    'n n n n i i i i i i i i'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
    'n n n n w w w w w w w w'
  ;

  gap: .2em;

  &>* {
    border: 1px solid red;
    // overflow: hidden;

  }
}

.nav {
  grid-area: n;
  background-color: #5a5858;
}

.info {
  grid-area: i;
}

.works {
  grid-area: w;
}

.photo {
  width: 100%;
  padding: 1rem;

  perspective: 100rem;
  transform: translateZ(2em);
  border-radius: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 1em);
    height: 100%;
    transform: translate3d(-50%, -50%, -10rem);
    transition: transform .5s ease;
    border-radius: 1rem;
    box-shadow:  
      0 0 2rem .5rem yellow,
      0 0 1.5rem .25rem rgb(255, 217, 0),
      0 0 .75rem .125rem rgb(255, 145, 0),
      0 0 .4rem .1rem rgb(255, 94, 0);


  }


}



.image {
  border-radius: 1rem;
  perspective: 10rem;
  min-width: 100%;
  min-height: 100%;
  position: relative;

 

  // &:hover {
  //   &::before {

  //     transform: translate3d(-50%, -50%, 0rem);


  //   }
  // }

}