@use '../../styles/mixins.scss' as mix;


.contact {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
}

svg {
  width: 1em;

  path {
    fill: white;
  }
}

.contactNamewrapper {
  display: flex;
  gap: 0.5em;
}

.contactTitle {
  color: #ffffff;
  font-size: 1em;
  @include mix.textCorrect;
}

.contactValue {
  color: #ffffff;
}