@use '../../styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.fullName {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: .4em;
  width: 100%;
}

.name {
  @include mixins.textCorrect;
}

.position {
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  text-align: center;
}