@use '../../../styles/variables.scss' as var;
@use '../../../styles/mixins.scss' as mix;

$INDENT: var.$indentPrimary;
$COLOR: var.$white;

.title {
  text-align: left;
  @include mix.subTitlePage($COLOR);

  @media (max-width: var.$mobileSize) {
    text-align: center;
    margin-bottom: $INDENT;
  }
}