.buttonAcardeon {
  width: 100%;
  text-align-last: left;
  padding: .5em;
  border: .2em solid #0075FF;
  border-radius: 1em;
  background-color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.05em;
}