@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as mix;

$BUTTON_BORDER_PRIMARY: .2rem solid var.$blue;
$BUTTON_BORDER_SECONDARY: .2rem solid var.$blueIce;
$BUTTON_BACKGROUND: var.$silver;
$BUTTON_RADIUS: 1rem;
$BUTTON_INDENT: .5rem 1rem;
$BUTTON_BOX_SHADOW: inset 0 0 .2em .05em var.$blue;
$BUTTON_COLOR_HOVER: var.$blueIce;
$BUTTON_TRANSITION: border var.$tarnsitionTime var.$transitionFunction,
  box-shadow var.$tarnsitionTime var.$transitionFunction;

.buttonAcardeon {
  width: 100%;
  position: relative;
  padding: $BUTTON_INDENT;
  border: $BUTTON_BORDER_PRIMARY;
  border-radius: $BUTTON_RADIUS;
  background-color: $BUTTON_BACKGROUND;
  transition: $BUTTON_TRANSITION;
  @include mix.flexCenter;
  @include mix.titleBlock;

  &:hover {
    border: $BUTTON_BORDER_SECONDARY;
    box-shadow: $BUTTON_BOX_SHADOW;
  }
}