@use '../../../styles/variables.scss' as var;

$WIDTH_SECTION_MAX: 90rem;
$MARGIN_SECTION_CENTER: 0 auto;
$INDENT: var.$indentPrimary;

.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: $INDENT * 2;
  max-width: $WIDTH_SECTION_MAX;
  margin: $MARGIN_SECTION_CENTER;
  padding: $INDENT;
}



