@use '../../../styles/variables.scss' as var;
@use '../../../styles/mixins.scss' as mix;

$COLOR: var.$white;
$INDENT: var.$indentPrimary;

.title {
  padding-bottom: $INDENT ;
  @include mix.titleSection($COLOR)
}