@use '../../../styles/variables.scss' as var;

$WIDTH_MAX: 20rem;
$INDENT: var.$indentPrimary;
$RADIUS: var.$radiusPrimary;

.container {
  width: $WIDTH_MAX;
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: $INDENT * 2;
  box-shadow:
    0 0 2px 2px rgb(63, 63, 63),
    0 0 3px 3px rgb(82, 82, 82),
    0 0 4px 4px rgb(82, 82, 82),
    0 0 5px 5px rgb(82, 82, 82);
  border-radius: $RADIUS;
  padding: $INDENT;
}
