.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-decoration: underline;
}