@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 0.9em;
  color: variables.$white;
}

.progress {
  display: flex;
  max-width: 5em;
  width: 30%;
}